{% extends 'layout.html' %}
{% block content %}
<p> BACKEND IS SET </p>
    <h1> Grocery List </h1>
    <p> Budget: </p> <input type = "textbox" class = "boxes" name = "budget" id = "budget"> </input> 
     <script src="./js/main.js"></script>
    <div id='TextBoxesGroup'>
    <div id="TextBoxDiv1">
    <label>Item 1: </label><input type='textbox' id='textbox1' >
    </div>
    </div>
    <input type='button' value='Add' id='addButton'>
    <input type='button' value='enter' id='enter'>


{% endblock %}
